.App {
    text-align: center;
    background-color: #282c34;
    display: flex;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
}

table {
    width: 100%;
}

td {
    width: 50%;
    vertical-align: unset;
}
